.main{
    width: 800px;
    margin: 100px auto 20px auto;
}
.clear{
    clear: none;
}
.leftcol{
    width: 50%;
    float: left;
}
.rightcol{
    width: 50%;
    float: left;
}
.m20{
    margin-top: 20px;
}

.order-list{

}
.order-list-row{
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    padding: 10px;
}
.panel{
    border: 1px solid #cfcfcf;
    margin-bottom: 20px;
    padding: 10px;
}
.backlink{
    display: inline-block;
    float: right;
}